Repository FahimFBA/assist-me, pull requests merged in 2023-10, with the labels that each got.

#8 Added Issue Templates.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/others.md
Labels: Hacktoberfest, hacktoberfest-accepted

#26 fix: pull request issue template
  .github/pull_request_template.md
Labels: Hacktoberfest, hacktoberfest-accepted

#28 fix: website title
  index.html
Labels: Hacktoberfest, hacktoberfest-accepted

#56 add: stargazers card in README
  README.md
Labels: Hacktoberfest

#64 Create greetings.yml
  .github/workflows/greetings.yml
Labels: good first issue, Hacktoberfest, hacktoberfest-accepted
